<div class="row z-depth-2 rcorners1 mycolor5">
    <h3 class="center-align">Comparing Option Pricing Methods</h3>
    <div class="col s12 m12 l12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">American Options</span>
                <p>An American option is an option that can be exercised anytime during its life. American options allow option
                    holders to exercise the option at any time prior to and including its maturity date, thus increasing
                    the value of the option to the holder relative to European options, which can only be exercised at maturity.</p>
            </div>
            <div class="card-action">
                <a href="#!/binomial">American Option Pricing with Binomial Tree</a><br>
                <a href="#!/finiteDifference">American Option Pricing Using Finite Difference</a><br>
                <a href="#!/leastSquares">American Option Pricing Using Least Squares</a>
            </div>
        </div>
    </div>
</div>